/*===============================
    GLOBAL CSS START
===============================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: var(--headingFont);
    color: var(--colorBlack);
}

p,
span {
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    font-family: var(--paraFont);
    color: var(--paraColor);
}

body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

img {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
}

input,
textarea {
    width: 100%;
    padding: 12px 20px;
    outline: none;
    resize: none;
    border: 1px solid #E4E7E9;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 300;
}

input::placeholder,
textarea::placeholder {
    color: #a6a6ac;
}

button {
    border: none;
    background: var(--colorSecondary);
}

:root {
    --colorPrimary: #FE6043;
    --colorSecondary: #5A5AF0;
    --colorWhite: #ffffff;
    --colorBlack: #1C212B;
    --paraColor: #617087;
    --lightColor: #EEF2F6;
    --headingFont: 'Inter', sans-serif;
    --paraFont: 'Open Sans', sans-serif;
}


.common_btn {
    color: var(--colorWhite);
    background: var(--colorPrimary);
    font-family: var(--paraFont);
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 12px 32px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.common_btn i {
    margin-left: 5px;
}

.common_btn:hover {
    background: var(--colorSecondary);
}


/*===============================
    GLOBAL CSS END
===============================*/

/*===============================
    MENU START
===============================*/
.main_menu.menu_fix {
    left: 0;
    top: 0;
    animation: menu_animate 2s;
    -webkit-animation: menu_animate 2s;
    background: #09101A;
}

@keyframes menu_animate {
    from {
        transform: translateY(-100%);
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
    }

    to {
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
}
.main_menu {
    position: fixed;
    top: 20px;
    width: 100%;
}

.main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 125px;
}

.main_menu .navbar-nav {
    gap: 25px;
    line-height: 85px;
}

.main_menu .navbar-nav .nav-item {
    position: relative;
}

.main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.main_menu .navbar-nav .nav-item:hover .nav-link,
.main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorSecondary);
}
.main_menu .drop_menu { 
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 50px;
    padding: 15px 0px;
    transform: scaleY(.5);
    transform-origin: top;
    -webkit-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -o-transform: scaleY(.5);
     opacity: 0; 
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    background: #09101A;
} 

.main_menu .drop_menu li a {
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    width: 100%;
}

.main_menu .drop_menu li a:hover {
    color: var(--colorPrimary);
}

.main_menu .nav-item:hover .drop_menu {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}

/*===============================
    MENU END
===============================*/



/*===============================
    BANNER START
===============================*/

.banner {
    height: 550px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 200px;
    padding-bottom: 750px;
}
.banner_img{
  height: 770px;
  width: 750px;
} 
.banner h1{
    margin-top: 220px;
    color: var(--colorWhite);
    font-size: 100px;
    font-weight: 600;
   
}
.banner h3 {
    color: var(--colorWhite);
    margin: 25px 0;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
}
.banner p{
    color: var(--paraColor);
    font-size: 16px;
    font-weight: 500;
}
.banner form ul{
    gap: 20px;
    margin-top: 30px;
    
}
.banner form ul li{
  
}
.banner form ul li a{
    padding: 20px 40px;
    background: #55E6A5;
    color: var(--Gray-500, #02050A);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}
.banner form ul li:last-child a{
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 10px 60px 0px rgba(0, 0, 0, 0.07);
    color: var(--colorWhite);
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}
.banner form ul li:last-child:hover{
    background: #55E6A5;
    color: #02050A;
}

/*===============================
     BANNER END
===============================*/

/*===============================
    MENU START
===============================*/
.service{
    background: #02050A;
    padding: 100px 0;
}
.service_header{
    text-align: center;
}
.service_header h5{
    color: var(--colorWhite, #FFF);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;

}
.service_header h2 {
    color: var(--colorWhite, #FFF);
    text-align: center;
    font-size: 60px;
    font-weight: 600;
    line-height: 80px;
    width: 79%;
    margin-left: 160px;
    margin-bottom: 100px;
}
.service_iten{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
}
.service_iten .service_img{
    height: 116px;
    width: 115px;
    margin: 0 auto;
    position: absolute;
    top: -75px;
    left: 145px;
}
.service_iten .service_text h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}
.service_iten .service_text p {
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.service_iten{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
}
.service_iten .service_img{
    height: 116px;
    width: 115px;
    margin: 0 auto;
    position: absolute;
    top: -75px;
    left: 145px;
}
.service_iten .service_text h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}
.service_iten .service_text p {
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.service_iten{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
}
.service_iten .service_img{
    height: 116px;
    width: 115px;
    margin: 0 auto;
    position: absolute;
    top: -75px;
    left: 145px;
}
.service_iten .service_text h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}
.service_iten .service_text p {
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.service_iten_2{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
}
.service_iten_2 .service_img {
    height: 122px;
    width: 160px;
    margin: 0 auto;
    position: absolute;
    top: -75px;
    left: 145px;
}
.service_iten_2 .service_text h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}
.service_iten_2 .service_text p {
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}
.service_iten_3{
    margin-top: 70px;
    text-align: center;
    border: 1px solid #ddd;
    padding-bottom: 20px;
    position: relative;
}
.service_iten_3 .service_img {
    height: 117px;
    width: 137px;
    margin: 0px auto;
    position: absolute;
    top: -75px;
    left: 145px;
}
.service_iten_3 .service_text h3{
    color: var(--White, #FFF);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 25px;
    margin-top: 75px;
}
.service_iten_3 .service_text p {
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 0 20px;
}

/*===============================
    MENU END
===============================*/


/*===============================
    ABOUT START
===============================*/
.about{
    background: #02050A;
    padding-bottom: 100px;
}
.about .about_header{}
.about .about_header h5{
    color: var(--White, #FFF);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
    text-transform: uppercase;
}
.about .about_header h2{
    color: var(--White, #FFF);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 75px;
}
.about .about_header p img {
    position: absolute;
    left: -210px;
    height: 1px !important;
    width: 190px !important;
    top: 10px;
}

.about .about_header p{
    position: relative;
    color: var(--paraColor, #FFF);
    font-size: 16px;
    font-weight: 500;
    width: 60%;
}
.about .about_header a{
    padding: 20px 40px;
    background: rgb(85, 230, 165);
    color: var(--Gray-500, #02050A);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60px;
}
.about .about_img{
    position: relative;
    width: 400px;
    height: 475px;
    z-index: 1;
}
.about .about_img::after{
    position: absolute;
    content: "";
    background: #55E6A5;
    z-index: -1;
    top: -15px;
    right: -15px; 
    width: 330px;
    height: 370px;
}
.img_text {
    position: absolute;
    width: 268px;
    height: 87px;
    background: rgb(35, 35, 35);
    margin-top: -40px;
    margin-left: 65px;
    text-align: center;
}
.about_img ul{
    gap: 25px;
}

.about_img ul li h4 {
    color: var(--White, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: justify;
}
.about_img ul li span{
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 600;
}
.about_img ul li .about_sm_img {
    height: 35px;
    margin-top: 25px;
    margin-left: 20px;
    width: 35px;
}

/*===============================
    ABOUT END
===============================*/


/*===============================
    DESIGN START
===============================*/
.design_aria{
    background: #02050A;
    padding: 100px 0;
}
.design_aria  h2{
    font-size: 128px;
    font-weight: 600;
    color: var(--colorWhite);
}
.design_aria span {
    font-size: 70px;
    font-weight: 600;
    color: var(--colorWhite);
}
.design_aria p{
    color: var(--lightColor);
}
.design_box{
    margin-top: 50px;
    padding: 25px 0;
    height: 200px;
    width: 300px;
    background: #09101A;
    text-align: center;
}
.design_box h4{
    font-size: 16px;
    font-weight: 600;
    color: var(--colorWhite);
}
.design_box_img{
    height: 60px;
    width: 75px;
    margin: 0 auto;
}
.design_box h3,
.design_box h3 span {
    margin: 10px 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--colorWhite);
}
.design_aria .design_right{
    background: #09101A;
    padding: 60px 60px;
}
.design_aria .design_right h2{
    font-size: 40px;
    font-weight: 700;

}
.design_aria .design_right p{
    color: var(--lightColor);
    margin: 20px 0;
    
}
.design_aria .design_right textarea{
    background: #09101A;
    border: 1px solid #55E6A5;
    font-size: 16px;
    font-weight: 500;
    color: var(--lightColor);
}
.design_aria .design_right form{
   
}
.design_aria .design_right form input{
    background: #09101A;
    margin: 20px 0;
    border: 1px solid #55E6A5;
    font-size: 16px;
    font-weight: 500;
    color: var(--lightColor);
}
.design_aria .design_right form button{
    margin-top: 20px;
    width: 100%;
    background: #55E6A5;
    padding: 10px 30px;
    font-size: 16px;
    font-weight: 500;
}

/*===============================
    DESIGN END
===============================*/


/*===============================
    MENU START
===============================*/

.skill_aria{
    background: #09101A;
    padding: 120px 0;

}
.skill_aria .skill_header{
    text-align: center;
}
.skill_aria .skill_header h5{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--colorWhite);
    letter-spacing: 1.4px;
}
.skill_aria .skill_header h2 {
    font-size: 60px;
    font-weight: 600;
    width: 79%;
    margin-left: 145px;
    text-align: center;
    color: var(--colorWhite);
}
.skill_aria .skill_discription h4{
    font-size: 18px;
    font-weight: 600;
    border: 1px solid #55E6A5;
    width: 140px;
    height: 52px;
    color: var(--colorWhite);
    text-align: center;
    line-height: 52px;
    margin-top: 50px;
    margin-bottom: 20px;
}
.skill_aria .skill_discription h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--colorWhite);
}
.skill_aria .skill_discription p{
    font-size: 16px;
    font-weight: 500;
    color: var(--lightColor);
    margin-bottom: 50px;
    margin-top: 20px;
}


/*===============================
    MENU END
===============================*/


/*===============================
     PORTFOLIO END
===============================*/

.Portfolio{
    background: #02050A;
    padding: 60px 0;
}
.Portfolio .Portfolio_header{}
.Portfolio .Portfolio_header h5{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--colorWhite);
}
.Portfolio .Portfolio_header h2{
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    color: var(--colorWhite);
    width: 65%;
    margin-top: 20px;
    margin-bottom: 30px;
}
/*===============================
     PORTFOLIO START
===============================*/

/*===============================
    TESTMONIAL START
===============================*/
.testmonial{
    background: #02050A;
    padding: 60px 0;
}
.testmonial .testmonial_header{
    text-align: center;
}
.testmonial .testmonial_header h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--colorWhite);
    text-transform: uppercase;
}
.testmonial .testmonial_header h2 {
    font-size: 40px;
    font-weight: 700;
    color: var(--colorWhite);
    margin-bottom: 100px;
    margin-top: 30px;
}
.testmonial .testmonial_box {
    border: 1px solid#333F4D;
    padding-left: 30px;
    padding-right: 65px;
    position: relative;
}
.testmonial .testmonial_box .testmonial_img {
    height: 100px;
    width: 100px;
    position: absolute;
    top: -40px;
    left: 490px;
}
.testmonial .testmonial_box .testmonial_text ul li{
    color: var(--System-Warning, #FFBA08);
    font-size: 16px;
    font-weight: 900;
    margin-top: 30px;
}
.testmonial .testmonial_box .testmonial_text h4{
    color: var(--White, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin: 20px 0;
}
.testmonial .testmonial_box .testmonial_text h5{
    color: var(--Gray-100, #F8F9FC);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}
.testmonial .testmonial_box .testmonial_text p{
    color: var(--White, #FFF);
    font-size: 16px;
    font-weight: 500;
    margin: 20px 0;
    position: relative;
   
}
.testmonial .testmonial_box .testmonial_text p::after {
    position: absolute;
    content: "";
    background: url(../images/test_after.png);
    height: 60px;
    width: 84px;
    top: -10px;
    right: -58px;
}

/*===============================
    TESTMONIAL END
===============================*/

/*===============================
    MARQUEE START
===============================*/
.marque{
    background: var(--NFT, #55E6A5);
    color: var(--Gray-500, #02050A);
    font-size: 108.094px;
    font-weight: 700;
    line-height: 290px; 
    text-transform: capitalize;
    height: 290px;
}
/*===============================
    MARQUEE END
===============================*/

/*===============================
    BLOG START
===============================*/
.blog{
    background: #02050A;
    padding: 100px ;
    position: relative;
    z-index: -2;

}

.blog_img{
 position: relative;
 z-index: -1;
}
.blog_header{}
.blog_header h5{
    font-size: 14px;
    font-weight: 500;
    color: var(--colorWhite);
    text-transform: uppercase;
}
.blog_header h2{
    font-size: 40px;
    font-weight: 600;
    color: var(--colorWhite);
    margin-top: 10px;
    margin-bottom: 30px;
}
.blog_header a {
    margin-top: 70px;
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
    color: #02050A;
    padding: 20px 45px;
    background: #55E6A5;
    margin-left: 445px;
}
.blog_text {
    height: 210px;
    width: 80%;
    margin-left: 10%;
    background: #09101A;
    text-align: center;
    margin-top: -80px;
    z-index: 2;
}
.blog_text h4 {
    height: 50px;
    width: 180px;
    line-height: 50px;
    background: #55E6A5;
    color: #02050A;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 30px;
}
.blog_text ul {
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}
.blog_text ul li{
    font-size: 12px;
    font-weight: 400;
    color: var(--lightColor);
}
.blog_text ul li i{
    color: #55E6A5;
}
.blog_text h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    width: 70%;
    margin-left: 15%;
}

/*===============================
    BLOG END
===============================*/


/*===============================
    SUBSCRIBE START
===============================*/

.subscribe{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.subscribe h2{
    margin-top: 100px;
    font-size: 30px;
    font-weight: 600;
    color: var(--colorWhite);
    text-align: center;
    margin-bottom: 25px;
}
.subscribe form{
    text-align: center;
}
.subscribe form input{
    width: 660px;
    height: 75px;
    border: 2px solid var(--White, #FFF);
    background: #131313;
    margin-bottom: 120px;
}
.subscribe form button {
    height: 60px;
    width: 190px;
    line-height: 60px;
    background: #55E6A5;
    margin-left: -200px;
}
/*===============================
    SUBSCRIBE END
===============================*/

/*===============================
    FOOTER START
===============================*/
footer{
    background: #02050A;
   
}
.footer_item{
    margin-top: 100px;
}
.footer_item_img{
    height: 95px;
    width: 95px;
    margin-right: 20px;
    
}
.footer_item_text{
    width: 70%;
    margin-bottom: 50px;
   
}
.footer_item_text h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    margin-bottom: 15px;
    margin-right: 100px;
}
.footer_item_text p{
    font-size: 16px;
    font-weight: 400;
    color: var(--lightColor);
    line-height: 30px;
}
.footer_item_text ul li a{
    font-size: 16px;
    font-weight: 400;
    color: var(--lightColor);
    line-height: 30px;
}
.footer_lastpart{
    border-top: 1px solid var(--colorWhite);
    padding-top: 30px;
    opacity: .5;
    padding-bottom: 50px;
    
}
.footer_lastpart p{
    font-size: 16px;
    font-weight: 400;
    color: var(--colorWhite);
    opacity: .5;
}
.footer_lastpart ul {
    gap: 30px;
    margin-left: 250px;
}
.footer_lastpart ul li{}
.footer_lastpart ul li a{
    font-size: 16px;
    font-weight: 500;
    color: var(--colorWhite);
    opacity: .5;
}
/*===============================
    FOOTER END
===============================*/
/*===============================
    BLOG MENU START
===============================*/

.blog_main_menu {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #1C212B;
    z-index: 3;
}

.blog_main_menu .navbar-brand {
    margin: 0;
    padding: 0;
    width: 125px;
}

.blog_main_menu .navbar-nav {
    gap: 25px;
    line-height: 85px;
}

.blog_main_menu .navbar-nav .nav-item {
    position: relative;
}

.blog_main_menu .navbar-nav .nav-item .nav-link {
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
}

.blog_main_menu .navbar-nav .nav-item:hover .nav-link,
.blog_main_menu .navbar-nav .nav-item .nav-link.active {
    color: var(--colorSecondary);
}
.blog_main_menu .drop_menu { 
    position: absolute;
    top: 100%;
    left: 0;
    width: 250px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    line-height: 50px;
    padding: 15px 0px;
    transform: scaleY(.5);
    transform-origin: top;
    -webkit-transform: scaleY(.5);
    -moz-transform: scaleY(.5);
    -ms-transform: scaleY(.5);
    -o-transform: scaleY(.5);
     opacity: 0; 
    visibility: hidden;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    background: #09101A;
} 

.blog_main_menu .drop_menu li a {
    color: var(--colorWhite);
    font-family: var(--headingFont);
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0 30px;
    transition: all linear .3s;
    -webkit-transition: all linear .3s;
    -moz-transition: all linear .3s;
    -ms-transition: all linear .3s;
    -o-transition: all linear .3s;
    width: 100%;
}

.blog_main_menu .drop_menu li a:hover {
    color: var(--colorPrimary);
}

.blog_main_menu .nav-item:hover .drop_menu {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    opacity: 1;
    visibility: visible;
}
/*===============================
    BLOG MENU END
===============================*/
/*===============================
    BLOG BANNER START
===============================*/

.blog_banner{
    width: 100%;
    height: 465px;
}
.blog_bg_header a{
    margin-top: 250px;
    color: var(--colorWhite);
    font-size: 40px;
    font-weight: 700;
}
.breadcrumb-item {
    margin-top: 250px;
    color: var(--colorWhite);
    font-size: 30px;
    font-weight: 700;
}
.breadcrumb-item a{
    color: #EEF2F6;
}


/*===============================
    BLOG BANNER END
===============================*/

/*===============================
    BLOG ARIA START
===============================*/
.blog_aria{
    background: #000;
    padding: 100px 0;
}
.blog_left .blog_left_img{
    position: relative;
    height: 430px;
    width: 850px;

}

.blog_left .blog_left_text h2{
    color: var(--colorWhite);
    font-size: 30px;
    font-weight: 600;
    margin-top: 30px;
}
.blog_left .blog_left_text p{
    color: var(--lightColor);
    font-size: 16px;
    font-weight: 500;
    margin-top: 30px;
    border-bottom: 1px solid  #4d4d4d;
     padding-bottom: 30px;

}
.blog_left_img_text {
    position: absolute;
    width: 80px;
    margin-top: -70px;
    margin-left: 30px;
    z-index: 2;
    height: 90px;
    border-radius: 20px 0px 0px 0px;
    background: #09101A;
    text-align: center;
    border-bottom: 3px solid #55E6A5;
}
.blog_left_img_text h4{
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    margin-top: 25px;
}
.blog_left_img_text p{
    font-size: 12px;
    font-weight: 400;
    color: var(--lightColor);
}
.blog_right_search{
    background: #09101A;
    height: 190px;
    justify-content: center;
    padding-left: 20px;
    margin-bottom: 20px;
}
.blog_right_search form label{
    font-size: 28px;
    font-weight: 600;
    color: var(--colorWhite);
    margin-top: 30px;
    margin-bottom: 15px;
}
.blog_right_search form input{
    font-size: 16px;
    font-weight: 500;
    color: var(--lightColor);
    background: #1C212B;
    width: 90%;
}
.blog_right_Category{
    background: #09101A; 
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.blog_right_Category h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    padding-top: 20px;
    margin-bottom: 30px;

}
.blog_right_Category ul li{
    font-size: 16px;
   font-weight: 500;
   color: var(--colorWhite);
   margin-bottom: 10px;
   justify-content: space-between;

}

.blog_right_Category ul li a{
    font-size: 16px;
    font-weight: 500;
    color: var(--colorWhite);
 }
.blog_right_Category ul li:hover{
    color: #55E6A5;
}
.blog_right_Category ul li a:hover{
   color: #55E6A5; 
}
.blog_right_Comments{
    background: #09101A;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;

}
.blog_right_Comments h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--colorWhite);
    padding-top: 30px;
    margin-bottom: 15px;
}
.blog_right_Comments .blog_right_Comments_img{
    margin-bottom: 20px;
    width: 110px;
    height: 85px;
}
.blog_right_Comments .blog_right_Comments_text h4{
    font-size: 16px;
    font-weight: 600;
    color: var(--colorWhite);
}
.blog_right_Comments .blog_right_Comments_text p{
    font-size: 16px;
    font-weight: 500;
    color: var(--colorWhite);
    margin-top: 15px;
}
.blog_right_Photo_gallery{
    background: #09101A;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    padding-right: 20px;
}
.blog_right_Photo_gallery h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--colorWhite);
    padding-top: 20px;
    margin-bottom: 15px;
}
.blog_right_Photo_gallery .blog_right_Photo_gallery_img{
    width: 115px;
    height: 90px;
    margin-bottom: 10px;
}
.blog_right_Tags{
    background: #09101A;
    padding-left: 20px;
    padding-bottom: 30px;
    margin-bottom: 30px;
}
.blog_right_Tags h3{
    font-size: 30px;
    font-weight: 600;
    color: var(--colorWhite);
    padding-top: 30px;
    margin-bottom: 15px;
}

.blog_right_Tags ul{
    gap: 10px;
}

.blog_right_Tags ul li a {
    font-size: 14px;
    font-weight: 400;
    color: var(--colorWhite);
    background: #4d4d4d;
    height: 40px;
    padding: 8px 30px;
    display: block;
    text-align: center;
    text-transform: capitalize;
}

.blog_right_Tags ul li a:hover{
    background: #55E6A5;
    color: var(--colorBlack);
}

/*===============================
    BLOG ARIA END
===============================*/


/*===============================
    FOOTER START
===============================*/
/*===============================
    FOOTER END
===============================*/